a {
    color: black;
    background: yellow;
}
p {
    background: gray;
    width: 400px;
    margin: 20px;
    padding: 5px;
}
li{
    background: red;
}
img {
    width: 300px;
    height: 400px;
}
.box {
    display: flex;
}
.box1 {
    display: flex;
}