@media screen and (min-width: 0px) and (max-width: 576px) {
    .box_a {
        width: 100%;
        height: 100px;
        background: silver;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .box_bc {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        column-gap: 20px;
        box-sizing: border-box;
    }
    .box_b {
        width: 100%;
        height: 250px;
        background: silver;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .box_c {
        width: 100%;
        height: 100px;
        background: silver;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
}