.father {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.box_a {
    width: 100%;
    height: 250px;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.box_bc {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    box-sizing: border-box;
}
.box_b {
    width: 65%;
    height: 500px;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.box_c {
    width: 35%;
    height: 500px;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
